---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="404 - Page Not Found">
  <div class="container">
    <h1>404 Error</h1>
    <p>Page does not exist.</p>
  </div>
</BaseLayout>
