---
import { BaseLayout } from "astro-researcher-theme";
import { themeConfig } from "../site.config";
---

<BaseLayout title="404 - Page Not Found" config={themeConfig}>
  <div class="container">
    <h1>404 Error</h1>
    <p>Page does not exist.</p>
  </div>
</BaseLayout>
