---
export const prerender = true;

import { BaseLayout } from "astro-researcher-theme";
import { themeConfig } from "../site.config";
---

<BaseLayout title="Contact: Frank Blechschmidt" config={themeConfig}>
  <script type="application/ld+json" set:html={JSON.stringify({
    "@context": "https://schema.org",
    "@type": "ContactPage",
    "name": "Contact Frank Blechschmidt",
    "url": "https://frank-blechschmidt.com/contact",
    "mainEntity": {
      "@type": "Person",
      "name": "Frank Blechschmidt",
      "email": "contact@frank-blechschmidt.com",
      "telephone": "+1-650-213-2619",
      "sameAs": [
        "https://www.linkedin.com/in/fblechschmidt",
        "https://github.com/FraBle",
        "https://twitter.com/FraBle90"
      ]
    }
  })} />
  <div class="container">
    <Fragment set:html={`
<h2>Contact</h2>

<ul>
<li>Email: <a href="mailto:contact@frank-blechschmidt.com">contact@frank-blechschmidt.com</a></li>
<li>Phone: <a href="tel:+1-6502132619">+1 (650) 213-2619</a></li>
</ul>

<hr />

<h2>Links</h2>

<ol>
<li><a href="https://www.linkedin.com/in/fblechschmidt">LinkedIn</a></li>
<li><a href="https://github.com/FraBle">GitHub</a></li>
<li><a href="https://twitter.com/FraBle90">Twitter/X</a></li>
</ol>
    `} />
  </div>
</BaseLayout>
