---
import { siteConfig } from "../site.config";
const { footer } = siteConfig;
---

<div id="footer" class="mb-5">
  <hr />
  {footer && (
    <div class="container text-center">
      <a
        href={footer.url}
        title={footer.text}
        target={footer.blank ? "_blank" : undefined}
        rel={footer.blank ? "noopener noreferrer" : undefined}
      >
        <small>{footer.text}</small>
      </a>
    </div>
  )}
</div>
